@page
@using System.Security.Claims;
@model LoginViewModel



{
	<form method="post">
		<div>
			<label asp-for="UserName">Login: </label>
			<input type="text" asp-for="UserName" />
		</div>

		<div>
			<label asp-for="Password">Hasło: </label>
			<input type="password" asp-for="Password" />
		</div>

		<div>
			<label class="form-check-label" asp-for="RememberMe">Zapamiętaj mnie</label>
			<input type="checkbox" asp-for="RememberMe" />

		</div>


		<div>
			<button type="submit"> Zaloguj</button>
		</div>

	</form>
}

{
	<div>
		Witaj @HttpContext.User.FindFirst(x=>x.Type==ClaimTypes.Name)?.Value
	</div>
	<form method="post" asp-page-handler="logout">
		<button type="submit" name="logout">Wyloguj</button>
	</form>
}