


<div class="container" style="min-height:500px">
    <div class="text-center">
        <h3>Rezerwacja numer #@Model potwierdzona, dziękujemy!</h3>
        <p>Wkrótce wyślemy do Państwa email z potwierdzeniem rezerwacji.</p>
    </div>
</div>
