


<div class="container min-vh-100 d-flex align-items-center justify-content-center">

    <div class="text-center">
        <h3 class="mb-4">Rezerwacja numer #@Model potwierdzona, dziękujemy!</h3>
        <p>Wkrótce wyślemy do Państwa email z potwierdzeniem rezerwacji.</p>
    </div>

</div>
